<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Beer Exchange</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<script type="text/javascript" src='/js/timer.js'>

		</script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
