<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Beer Exchange</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
		<link rel="stylesheet" href="/css/styles.css" />
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
		<script type="text/javascript" src='/js/timer.js' defer></script>
		<script type="text/javascript" src="/js/chart.js" defer></script>
		<script type="text/javascript" src='/js/settings.js' defer></script>
		<!-- <script type="text/javascript" src='../models/beers.js'></script> -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>
