<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="./styles/bootstrap.css" />
    <link rel="stylesheet" href="./public/css/style.css" />
    <script
      src="https://kit.fontawesome.com/af3685eef2.js"
      crossorigin="anonymous"
    ></script>
    <title>Beer Exchange</title>
  </head>
  <body>
    <div class="container text-center">
      <div class="row">
        <div class="col ">
          <button type="button" class="btn btn-outline-secondary">House</button>
        </div>
        <div class="col">
          Column
        </div>
        <div class="col">
          Column
        </div>
      </div>
    </div>
  </body>
</html>
