<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Beer</th>
      <th scope="col">Price</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
			<th scope="col">Trend</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Leo</th>
      <td>120</td>
      <td>150</td>
      <td>95</td>
			<td>Up</td>
    </tr>
		<tr>
      <th scope="row">Chang</th>
      <td>130</td>
      <td>135</td>
      <td>100</td>
			<td>Up</td>
    </tr>
		<tr>
      <th scope="row">Singha</th>
      <td>90</td>
      <td>110</td>
      <td>90</td>
			<td>Down</td>
    </tr>
  </tbody>
</table>
