<table class="table table-bordered table-striped bg-light">
  <thead>
    <tr>
      <th scope="col">Beer</th>
      <th scope="col">Price</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
			<th scope="col">Trend</th>
    </tr>
  </thead>
  <tbody>
		{{#each beers as |beer|}}
    <tr>
      <th scope="row">{{beer.name}}</th>
      <td>{{beer.currentPrice}}</td>
      <td>find highest price per beer</td>
      <td>find lowest price per beer</td>
			<td>if current price is higher than starting price</td>
    </tr>
		{{/each}}
  </tbody>
</table>
